<div id="launch" class="bx--grid">
    <div class="bx--row">
        <div class="bx--col">
            <h1>Food Connect</h1>
        </div>
    </div>
    <div class="bx--row">
        <div id="sign-in-btn-col" class="bx--col">
            <button class="bx--btn bx--btn--primary" type="button">Sign In</button>
        </div>
    </div>
    <div class="bx--row">
        <div id="sign-up-btn-col" class="bx--col">
            <button class="bx--btn bx--btn--secondary" type="button">Sign Up</button>
        </div>
    </div>
</div>