.bx--detail-page-header-content{
  height: 120px;
  width: 100%;
  position: relative;
}

.center-container{
    position:absolute;
    width: 75%;
    bottom:0;
    text-align:center;
}

.bx--detail-page-header-title{
  margin-bottom: 20px;
  font-size: 30px;
  color: black;
}

#impact {
  padding: 4em;
}

#envheader {
  font-size: 20px;
  padding-bottom: 2em;
}

#donationbtn {
  padding-top: 2em;
}